{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}

    {% comment %} <h1>{% trans "Password Reset" %}</h1> {% endcomment %}
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    {% comment %} <h2 class="card-title text-center mb-4">{% trans "Password Reset" %}</h2> {% endcomment %}

    <form class="card card-md password_reset" action="{% url 'account_reset_password' %}" method="POST">
        {% csrf_token %}
        <div class="card-body">
            <h2 class="card-title text-center mb-4">{% trans "Forget Password" %}</h2>
            {% include 'form_message.html' %}
            <p class="text-muted mb-4">{% trans "Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>
            <div class="mb-3">
                <label class="form-label">{% blocktrans %}Email address{% endblocktrans %}</label>
                <input type="email" name = "email" class="form-control" placeholder="Enter email">
            </div>
            <div class="form-footer">
                <button type="submit" class="btn btn-primary w-100">{% trans "Reset My Password" %}</button>
            </div>
        </div>
    </form>
    <div class="text-center text-muted mt-3">
    Forget it, <a href="{% url 'account_login' %}">send me back</a> to the sign in screen.
    </div>

    {% comment %} <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="{% trans 'Reset My Password' %}" />
    </form> {% endcomment %}

    {% comment %} <p>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p> {% endcomment %}
{% endblock %}
